<header class="header">
  <div class="header-brand" routerLink="/">
    <i class="fa-solid fa-arrow-right-arrow-left"></i>
    <h1>TxEx</h1>
  </div>
  <nav class="nav">
    <div
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{
        exact: true
      }"
      class="nav-link"
    >
      Home
    </div>
    <div routerLink="/login" routerLinkActive="active" class="nav-link">
      Login
    </div>
    <div routerLink="/register" routerLinkActive="active" class="nav-link">
      Register
    </div>
    <div routerLink="/posts" routerLinkActive="active" class="nav-link">
      Posts
    </div>
  </nav>
</header>
