<section class="container">
  <div class="container-heading">
    <h2>Login</h2>
  </div>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onFormSubmit()"
    class="form-container"
  >
    <div class="form-group">
      <label for="login-email">Email</label>
      <input
        formControlName="email"
        class="form-control"
        type="text"
        id="login-email"
        autocomplete="off"
      />
    </div>
    <div class="form-group">
      <label for="login-password">Password</label>
      <input
        formControlName="password"
        class="form-control"
        type="password"
        id="login-password"
        autocomplete="off"
      />
    </div>
    <!-- <button type="submit">Login</button> -->
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
</section>
