<section class="container">
  <div class="container-heading">
    <h2>Post Details</h2>
  </div>
  <div class="posts-container">
    @if (postDetails()) {
      <!-- Post component -->
      <app-post-item
        [post]="postDetails()"
        [canLikeDislike]="postDetails().author._id !== currentUser()._id"
        (likeDislikeOutput)="onLikeDislike($event)"
        [isHoverShadow]="false"
      />
      <!-- Comment form component -->
      <app-comment-form (submitOutput)="onCommentSubmit($event)" />
      <!-- Comments list component -->
      <app-comments-list [comments]="postDetails().comments" />
    }
  </div>
</section>
