<div class="comment-container">
  @if (comments().length) {
    <h3>Comments</h3>
    @for (comment of comments(); track comment._id) {
      <div class="comment">
        <p class="comment-body">
          {{ comment.body }}
        </p>
        <p class="comment-author">
          @if (showPostLink()) {
            <span class="post-link" [routerLink]="'/posts/' + comment.post">
              <i class="fa-solid fa-arrow-up-right-from-square"></i> Link to
              post
            </span>
          }

          <span>
            <i class="fa fa-user-circle"></i>
            {{ comment.author.username }}
          </span>
          <span>
            {{ comment.createdAt | date: "shortDate" }}
          </span>
        </p>
      </div>
    }
  } @else {
    <h3>No Comments Yet</h3>
  }
</div>
